/*
=============== 
Variables
===============
*/
:root {
  --max-width: 50rem;
  --border-color: #e5e7eb;
}
/*
=============== 
Global Theme Styles
===============
*/
.dark-theme {
  --clr-bcg: #282c35;
  --clr-bcg-secondary: #3d4352;
  --clr-font-primary: #fff;
  --clr-font-secondary: #fff;
  --clr-theme-icon: #9ca3af;
  --clr-primary: #ffa7c4;
}

.light-theme {
  --clr-bcg: #fff;
  --clr-bcg-secondary: #edeef0;
  --clr-font-primary: #282c35;
  --clr-font-secondary: #282c35;
  --clr-theme-icon: black;
  --clr-primary: #d23669;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--clr-font-secondary);
}
li {
  list-style-type: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--clr-bcg);
  color: var(--clr-font-primary);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
/*
=============== 
Theme Selector Styles
===============
*/
.mode-btn {
  border: none;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--clr-theme-icon);
  background-color: var(--clr-bcg-secondary);
}
.mode-btn svg {
  display: block;
}
