@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
/*
=============== 
Variables
===============
*/
:root {
  --max-width: 50rem;
  --border-color: #e5e7eb;
  --clr-navbar-border: rgba(156, 163, 175, 0.1);
  --font-primary: 'Roboto', sans-serif;
  --transition: all 0.3s linear;
  --bezier: cubic-bezier(0.31, 0.11, 0.12, 0.99);
}
/*
=============== 
Global Theme Styles
===============
*/
.dark-theme {
  --clr-bcg: #282c35;
  --clr-bcg-secondary: #3d4352;
  --clr-font-primary: #fff;
  --clr-font-secondary: #fff;
  --clr-theme-icon: #9ca3af;
  --clr-primary: #ad8;
  /* --clr-blur-background: rgba(40, 44, 53, 0.3); */
}

.light-theme {
  --clr-bcg: #fff;
  --clr-bcg-secondary: #edeef0;
  --clr-font-primary: #282c35;
  --clr-font-secondary: #282c35;
  --clr-theme-icon: black;
  --clr-primary: #83d94a;
  /* --clr-blur-background: rgba(255, 255, 255, 0.3); */
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--clr-font-secondary);
}
li {
  list-style-type: none;
}
body {
  font-family: var(--font-primary);
  background: var(--clr-bcg);
  color: var(--clr-font-primary);
  transition: var(--transition);
}
html {
  scroll-behavior: smooth;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
/*
=============== 
Navbar Theme Styles
===============
*/
nav {
  border-bottom: 1px solid var(--clr-navbar-border);
}
.blur-bar {
  background-color: var(--clr-blur-background);
}

/*
=============== 
Theme Selector Styles
===============
*/
.mode-btn {
  border: none;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--clr-theme-icon);
  background-color: var(--clr-bcg-secondary);
}
.mode-btn svg {
  display: block;
}
